[Unit]
Description=RROutputChangeNotify watcher for Spice window resizing
Conflicts=exit.target

# Don't bother running this on "ssh root@desktop shutdown".
[Unit]
ConditionUser=!@system

# This code is NEEDED when
#
#  • kvm --display gtk (directly) changes the virtual monitor's preferred resolution.
#  • spice-html5 (via spice-vdagent) changes the virtual monitor's preferred resolution.
#
# This code is NOT NEEDED when:
#
#  • you plug an external monitor into your laptop (xfce4-settingsd correctly handles this on its own).
#
# Maybe it is harmless to run this code in the needless case, BUT
#  • we do not feel like testing/debugging it.
#    For example, what happens when a full-screen game changes the display resolution?
#  • xfce4-settingsd pops up a prompt; this is better than our script's hard-coded assumptions.
#
# Therefore limit this code to run only when in a VM.
# Do NOT require spice-vdgent; because that is not available in --boot-test --template=desktop-inmate.

ConditionVirtualization=yes
#ConditionPathExists=/dev/virtio-ports/com.redhat.spice.0

# FIXME: This runs too early for this condition because XFCE has no systemd integration
# # Only bother running if we have an X11 display
# # If XFCE had better systemd integration, this would be handled with a better WantedBy/PartOf
# ConditionEnvironment=DISPLAY
# ConditionEnvironment=XAUTHORITY

[Service]
ExecStart=xfce-spice-output-resizer

# Because this will usually start before DISPLAY & XAUTHORITY are set,
# the script has been written to exit with 'EX_UNAVAILABLE' if they are not set.
# ref: https://docs.python.org/3/library/os.html#os.EX_UNAVAILABLE
# So we'll simply keep restarting it when that happens, until it actually works.
#
# In my testing, a 2s delay had it only restart once, and it still seemed to be
# running before the user's spice-vdagent was active anyway.
RestartForceExitStatus=69
RestartSec=2s
# FIXME: Should we set a burst limit other than the default?
# StartLimitBurst=5

[Install]
# If XFCE had proper systemd support, this would be something like 'graphical-session.target'
WantedBy=default.target
