[Desktop Entry]
Type=Application
Version=1.0
Name=Watch TV
GenericName=Watch TV
NoDisplay=false
Comment=
Icon=tv
Exec=chromium --app=https://prisonpc/TV/
Terminal=false
Categories=AudioVideo;Player;Video;
Keywords=Player;Audio;Video;
