[Desktop Entry]
Version=1.0
Type=Application
Name=Mail
Icon=mail-unread
Exec=chromium --app=http://webmail
Categories=Network;Email;

# https://docs.gtk.org/gtk3/type_func.Window.set_auto_startup_notification.html
StartupNotify=true
