[Desktop Entry]
Encoding=UTF-8
Name=Factory Reset
Comment=Reset your account to factory defaults
Exec=systemd-cat --identifier=factory-reset factory-reset-request
TryExec=factory-reset-request
Terminal=false
Type=Application
Categories=X-Red-Hat-Base;X-GNOME-PersonalSettings;Settings;
X-Desktop-File-Install-Version=0.18

# This is /usr/share/pixmaps/user_icon.png
# which "usermode" provides for a chfn GUI.
# We remove that GUI, so the icon is leftover.
# It's "good enough".
Icon=user_icon

# https://docs.gtk.org/gtk3/type_func.Window.set_auto_startup_notification.html
StartupNotify=true
