[Service]
User=nslcd
DynamicUser=yes
OOMScoreAdjust=-1000
RuntimeDirectory=nslcd
WorkingDirectory=/run/nslcd
CapabilityBoundingSet=
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
DevicePolicy=closed
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
# We can't drop @privileged because we fail with:
#   nslcd: wait_for_response(): read_response() returned 0 (expected 4)
#   nslcd: unable to daemonize: No data available
#SystemCallFilter=~@privileged
SystemCallFilter=~@resources
RestrictNamespaces=yes
RestrictRealtime=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RemoveIPC=yes
UMask=0077
ProtectHostname=yes
ProcSubset=pid
