[Unit]
Description=Generate OpenSSH host keys

[Service]
Type=oneshot
ExecStart=ssh-keygen -A
[Unit]
Before=ssh.service
Documentation=https://bugs.debian.org/594175
