Source: prisonpc-wesnoth-addons
Section: games
Priority: optional
Standards-Version: 4.3.0
Maintainer: Trent W. Buck <twb@cyber.com.au>
Uploaders: Trent W. Buck <trentbuck@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 python3,
# # We use these to make the .deb a little smaller.
#  hardlink,
#  jpegoptim,
#  pngcrush,
##SLOW METHOD##
# wesnoth-1.14-tools
##FAST METHOD##
 wget2,
 ca-certificates,

Package: prisonpc-wesnoth-addons
Depends: ${misc:Depends},
# We do not strictly NEED wesnoth, but
# asking for it here avoids site-apps needing to ask for it AND us.
# We version the dependency only because wesnoth-addon-fix ASSUMES 1.18.
 wesnoth (>= 1:1.18~),
 wesnoth (<< 1:1.20~),
 wesnoth-music,
Enhances: wesnoth
Architecture: all
Description: Wesnoth addons
 There are a bunch of third-party addons at https://addons.wesnoth.org/.
 This package provides them pre-downloaded.
