# GOAL: make spell checking (red wavy underline) work in Chromium.
#
# • Chromium looks for spelling dictionaries in
#   ~/.config/Dictionaries/en-GB-7-1.bdic.
#
# • .bdic is compiled from .dic + .aff
#   Debian ships .dic + .aff, but NOT .bdic, and NOT the compiler.
#   We cannot easily cherry-pick the compiler from chromium’s codebase.
#   Therefore we must grab .bdic files and carry them around as a binary blob.
#
# • Chromium WILL NOT look in /usr or /etc for .bdic files.
#   Therefore we must copy them into $HOME at login time.
#   We already do similar for ~/.pki/, so this should be straightforward.
#
# • The version in xx-YY-<version>.bdic is the version of that dictionary, BUT
#   each version of chromium has a HARD-CODED version to look for.  For example,
#   Chromium 56 will always look for en-GB-7-1.bdic; and
#   Chromium 64 will always look for en-GB-8-0.bdic.
#   So we must keep multiple .bdic versions around until Jessie is gone.
#   So spell checking WILL break, without warning, on SOE updates in the future.
#
# • Due to an upstream bug, Chromium currently assumes en-AU = en-GB.
#   This has been reported upstream and might be fixed next year.
#   We work around this by symlinking en-GB → en-AU.
#
# • Chromium ignores locale(5) (LANG=en_AU.UTF-8), so the default locale is en_US.
#   (Our policy.json blocks chrome://*, so inmates can't change it, either.)
#   We work around this by symlinking en-US → en-AU.
#
Source: prisonpc-chromium-hunspell-dictionaries
Section: web
Priority: optional
Standards-Version: 3.9.6
Maintainer: Trent W. Buck <twb@cyber.com.au>
Build-Depends:
 debhelper (>= 10~),
 wget, ca-certificates

Package: prisonpc-chromium-hunspell-dictionaries
Depends: ${misc:Depends}
Enhances: chromium
Architecture: all
Description: Chromium spell-checking dictionaries
 Chromium uses hunspell dictionaries in a custom "fast" binary format.
 This package provides the dictionaries pre-downloaded, for airgapped sites.
 An XDG autostart script copies them into your $HOME on login.
 .
 Only Australian English is supported at this time.
 As a workaround for locale bugs,
 US English and UK English are replaced with Australian English.
