#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
d := debian/prisonpc-chromium-hunspell-dictionaries/usr/share/prisonpc-chromium-hunspell-dictionaries/
%:
	dh $@
# Chromium 57+ uses en-XX-7-1.bdic.
# Chromium 64+ uses en-XX-8-0.bdic.
# See also https://crbug.com/796748.
# Chromium 90 in Debian 10 uses en-XX-9-0.bdic.
# Chromium 99 in Debian 11 uses en-XX-9-0.bdic
# Chromium 102 in Debian 11 uses en-XX-10-1.bdic.
override_dh_auto_install:
	wget2 -P $d "https://redirector.gvt1.com/edgedl/chrome/dict/en-AU-10-1.bdic"
	ln -nsf en-AU-10-1.bdic $d/en-GB-10-1.bdic
	ln -nsf en-AU-10-1.bdic $d/en-US-10-1.bdic
