[Desktop Entry]
Type=X-XFCE-Helper
Name=Mail
X-XFCE-Category=MailReader
X-XFCE-Binaries=chromium;
X-XFCE-Commands=gtk-launch com.PrisonPC.Mail
X-XFCE-CommandsWithParameter=gtk-launch com.PrisonPC.Mail

# FIXME: X-XFCE-CommandsWithParameter is supposed to receive a mailto:
# link and do something useful with it.  It doesn't work, but the
# key/value must be present for exo to recognize this file.
