# NOTE: this unit is started by /etc/X11/xdm/Xstartup,
#       which is why it has no Install.WantedBy.
[Service]
Type=notify
ExecStart=bootstrap2020-session-snitch %i

# If this unit does not sd_notify('WATCHDOG=1')
# AT LEAST once every 60s, it has hung (failed).
# Note that this is UNCONNECTED to hardware watchdogs.
# If PID=1 hangs, this will not trigger.
WatchdogSec=60

# If this unit fails, reboot the whole system.
# We use "immediate" because if the rootfs disappears,
# systemd cannot (always) do a regular clean reboot.
FailureAction=reboot-immediate

