[Desktop Entry]
Type=Application
Name=Rip a Movie Disc
Categories=Application;AudioVideo;Video;
Terminal=0
Exec=PrisonPC-dvdrip
Icon=media-optical

# https://docs.gtk.org/gtk3/type_func.Window.set_auto_startup_notification.html
StartupNotify=true
