# Staff do not get the AUP.
# This is necessary because spice-html5 VMs display 640x480 initially, and
# the AUP would obscure the username & password prompts.
# https://alloc.cyber.com.au/task/task.php?taskID=34571
#
# Since it starts & stops inside xdm-pre-prompt.py and xdm-post-login.py,
# there isn't a nice way to just say "only run this if inmate".
# Replacing the regular program with a "sleep infinity" is Good Enough™.
[Service]
ExecStart=
ExecStart=sleep infinity
