# xtigervncviewer is invoked like "xtigervncviewer hostname[:display]"
# chromium wants to open a URL like "vnc://hostname[:display]".
# The sh below just throws away everything up to the last slash,
# so the latter becomes the former.

[Desktop Entry]
Version=1.0
Name=xtigervncviewer
Comment=Connect to a remote desktop over VNC
GenericName=Remote Desktop viewer (URL handler)
TryExec=xtigervncviewer
Exec=sh -c 'exec xtigervncviewer -ViewOnly 1 "${1##*/}"' -- %U
# Old python version.
#Exec=python -c 'import urlparse, sys, subprocess; subprocess.Popen(["xtigervncviewer", urlparse.urlsplit(sys.argv[1]).netloc])' %U
Terminal=false
Type=Application
MimeType=x-scheme-handler/vnc;
# Pretty sure we don't need both of these.
#MimeType=x-scheme-handler/x-chromium-vnc;x-scheme-handler/vnc;
NoDisplay=true

# https://docs.gtk.org/gtk3/type_func.Window.set_auto_startup_notification.html
# FIXME: is this wrong for now we're  xtigervncviewer (FLTK) not gvncviewer (GTK3)?
StartupNotify=true
