# NOTE: We explicitly run at 6AM instead of "daily", because rsnapshot also runs @daily.
# If they both started at midnight, you'd get a CONSISTENT email saying yesterday's backup completed.
# Instead, you'll get one saying TODAY'S backup completed — unless it takes more than 6 hours to run,
# in which case you'll INCONSISTENTLY get zero events that day, and TWO events the next day.
# Ron says the latter behaviour is less confusing; I'm not convinced, but I don't care to debate it further.
# —twb, Dec 2017
#
# UPDATE: rsnapshot is now run by systemd via a wrapper, so in theory we can journalcheck After=rsnapshot.
# In practice this is a bit iffy, so I'm keeping the behaviour as-is for now.
# See #systemd IRC discussion copy-pasted into #32330 on 1 Feb 2018.
# —twb, Feb 2018
#
# NOTE: We also run "just after boot" as boot-time-only log events aren't whitelisted, so you get lots of them.
# Keeping them in a separate email from post-boot logs makes it easy to mostly-ignore the boot email.
# There is no way to say "systemd, run this when booting is finished", so I picked an arbitrary "probably good enough" 1min delay.
# —twb, Dec 2017
#
# https://manpages.debian.org/stretch/systemd/systemd.time.7.en.html#PARSING_TIMESTAMPS
[Timer]
OnBootSec=1min
OnCalendar=*-*-* 06:00:00

[Install]
WantedBy=timers.target
