[Unit]
# If chromium dies and you run it again on a DIFFERENT host,
# it doesn't recover on its own.
# PrisonPC guarantees you aren't logged into two hosts at once,
# so it's safe to simply forcibly delete the lockfile at login.
#
# UPDATE: I think I saw chromium pop up a GUI prompt now (Jan 2022).
#         I think this is better than before, where it just did nothing.
#         We could JUST ABOUT get away with skipping this working?
Documentation=https://alloc.cyber.com.au/task/task.php?taskID=24310

[Service]
ExecStart=rm -fv .config/chromium/SingletonLock
WorkingDirectory=~

[Install]
WantedBy=default.target
