# In principle we should ADD elements to MimeType= of upstream's chromium.desktop, but
# that would involve editing a file.
# Making a separate "hidden" desktop allows us to be a drop-in.
# It's technically wrong, but has no REAL downside.
#
# Old ticket:
# https://alloc.cyber.com.au/task/task.php?taskID=25297

[Desktop Entry]
Version=1.0
# Name=FIXME
# Comment=FIXME
# GenericName=FIXME
Exec=exo-open --launch WebBrowser %U
Terminal=false
Type=Application
MimeType=application/pdf
NoDisplay=true

# UPDATE: if we do not set a Name=, then in Thunar, right-click says 'open with "Unnamed"'.
# Therefore copy-paste some elements from /usr/share/applications/xfce4-web-browser.desktop
Name=Web Browser
Icon=org.xfce.webbrowser
StartupNotify=true
