# In principle we should ADD elements to MimeType= of upstream's chromium.desktop, but
# that would involve editing a file.
# Making a separate "hidden" desktop allows us to be a drop-in.
# It's technically wrong, but has no REAL downside.

[Desktop Entry]
Version=1.0
# Name=FIXME
# Comment=FIXME
# GenericName=FIXME
Exec=exo-open --launch WebBrowser %U
Terminal=false
Type=Application
MimeType=image/png;image/gif;image/jpeg;image/bmp;image/x-pixmap;image/tiff;image/svg+xml;image/x-xpixmap;
NoDisplay=true
