[Desktop Entry]
Version=1.0
Type=Application
Name=Watch TV (bypass EPG)
Icon=applications-multimedia
Exec=PrisonPC-watch-TV %U
Categories=AudioVideo;Player;Video;
MimeType=x-scheme-handler/rtp;
NoDisplay=true
