# NOTE: this is actually just adding "systemd-analyze security" hardening.
# The main part of the unit is created in xdm-pre-prompt.py, so
# it can inherit xdm's environment (yuk!)

# Needs TCP access to 10/8.
# Needs read access to /etc/x11vnc.conf.
# Needs write access to /var/log/x11vnc.log.
# Needs write access to X11.

[Service]
PrivateNetwork=No
# /bin/x11vnc is limited to the root user.
# User=
# DynamicUser=yes
CapabilityBoundingSet=
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
DeviceAllow=
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
# Not available because we run as root?
#ProtectProc=noaccess
ProtectSystem=strict
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallFilter=~@resources
RestrictRealtime=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
UMask=0077
ProtectHostname=yes
ProcSubset=pid

# FIXME: move /var/log/x11vnc.conf to /var/log/x11vnc/x11vnc.log, so this can be tightened further.
ReadWritePaths=/var/log/
