#!/usr/bin/make -f
%:
	echo 'THIS IS NOT IN A USABLE STATE - SEE ALSO https://bugs.debian.org/1004062 '; exit 1
	dh $@

# NOTE: wget *MUST* download all URLs in a single run,
# or --convert-links won't recognize links BETWEEN them.
override_dh_auto_build:
	mkdir -p $(DESTDIR)
	wget2 $(args) $(URLs)

# FIXME: for keys, use
#           https://gitlab.com/inkscape/inkscape-docs/documentation/-/archive/1.1.x/documentation-1.1.x.tar.gz?path=keys
#        then do "make" inside that.
#        I started looking at how to add this to a debian/watch file, but it got Too Hard.

DESTDIR = debian/prisonpc-inkscape-doc/usr/share/inkscape/doc/
args += --directory-prefix=$(DESTDIR)
args += --adjust-extension --convert-links --page-requisites --span-hosts --no-host-directories --no-directories
# args += --no-verbose

URLs += https://inkscape.org/doc/keys-1.1.x.html
URLs += https://inkscape.org/en/learn/faq
URLs += https://wiki.inkscape.org/wiki/Release_notes/1.1
URLs += https://readthedocs.org/projects/inkscape-manuals/downloads/pdf/latest
# Use the filename suggested by upstream, i.e. "inkscape-manuals-readthedocs-io-en-latest.pdf" not "latest".
args +=  --content-disposition
# Workaround https://bugs.launchpad.net/inkscape-web/+bug/1654115
args += --reject=keys.css
# If we don't disable robots.txt, the CSS files (under /static/) aren't downloaded.  SIGH.
args += --execute robots=off
# Now that we disable robots.txt, some more boring images are 404.
# If we don't reject them here, wget does exit(8) and the build fails.
args += --reject=search.png
args += --reject=bullet-pass.png
args += --reject=none.svg
