Source: prisonpc-openttd-extras
Section: games
Priority: optional
Standards-Version: 4.3.0
Maintainer: Trent W. Buck <twb@cyber.com.au>
Uploaders: Trent W. Buck <trentbuck@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 wget2,
 ca-certificates,
 python3,

Package: prisonpc-openttd-extras
Depends: ${misc:Depends},
 openttd,
# OpenTTD needs these to play music.
 timidity,
 freepats,
Conflicts:
 openttd-opengfx,
 openttd-openmsx,
 openttd-opensfx,
Replaces:
 openttd-opengfx,
 openttd-openmsx,
 openttd-opensfx,
Enhances: openttd
Architecture: all
Description: OpenTTD (Transport Tycoon Deluxe) extra plugins
 OpenTTD has a built-in plugin manager called "bananas".
 Plugins are fetched from content.openttd.org:3980 (*not* HTTP/S).
 As that is blocked on PrisonPC for security reasons,
 provide a subset of plugins as a regular Debian package.
 .
 Depends on some Debian packages that Debian openttd only Recommends.
 This is simpler than listing them directly in the SOE build scripts.
 .
 Includes versions of opengfx/openmsx/opensfx that are newer in BaNaNaS than in Debian.
 Therefore conflict with the packages in Debian, since they are now useless.
