#!/usr/bin/make -f
D := debian/prisonpc-openttd-extras/usr/share/games/openttd
%:
	dh $@
override_dh_auto_install:
	# Download the files directly into where openttd will look for them.
	#
	# Whoops, URL paths and file paths are a bit different:
	#
	#    ai          → ai
	#    ailibrary   → ai/library
	#    basegraphic → baseset
	#    basemusic   → baseset
	#    basesound   → baseset
	#    gamescript  → game
	#    gslibrary   → game/library
	#    heightmap   → scenario/heightmap
	#    newgrf      → newgrf
	#    scenario    → scenario
	#
	# …so create symlinks to trick wget into doing The Right Thing.
	mkdir -p $D
	cd $D && mkdir -p ai/library baseset game/library scenario/heightmap
	cd $D && ln -s ai/library ailibrary
	cd $D && ln -s baseset basegraphic
	cd $D && ln -s baseset basemusic
	cd $D && ln -s baseset basesound
	cd $D && ln -s game gamescript
	cd $D && ln -s game/library gslibrary
	cd $D && ln -s scenario/heightmap heightmap
	# Now do the actual downloading.
	wget -nv -i debian/urls -x --cut-dirs=1 -nH -P $D
	# Remove the wget-workaround symlinks.
	cd $D && rm ailibrary basegraphic  basemusic basesound gamescript gslibrary heightmap
	# OpenTTD already understands .tar, so only gunzip is needed.
	# UPDATE: basemusic plugins MUST be untarred, so we might as well untar everything.
	find $D -name '*.tar.gz' -exec sh -xc 'tar -C "$${0%/*}" -xf "$$0"' {} \; -delete
	# Upstream tarballs have daft permissions, and
	# dh_fixperms doesn't know how to handle usr/share/games/.
	# See also https://lintian.debian.org/tags/executable-not-elf-or-script.html
	find $D -exec chown -c -h 0:0 {} + -type d -exec chmod -c 0755 {} + -o -exec chmod -c 0644 {} +
	# Avoid duplicate copies of GPL licenses. —twb, Dec 2016
	# The size is different because the OpenTTD versions use literal tabs instead of spaces.
	find $D -name license.txt -size 17987c -exec ln -nsfv /usr/share/common-licenses/GPL-2 {} ';'
	find $D -name license.txt -size 35147c -exec ln -nsfv /usr/share/common-licenses/GPL-3 {} ';'

	# UPDATE: in C locale, "DOOM" and "Scott_Joplin" sort above "openmsx" (lowercase),
	#         which makes new users get DOOM music by default.
	#         To avoid this, make a symlink 0-OpenMSX → openmsx.
	ln -s openmsx $D/baseset/0-OpenMSX
