[Service]
Type=oneshot
ExecStart=/usr/local/bin/journalcheck --save --to logcheck --summarize
Nice=10
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
