# -*- conf -*-

# UPDATE: dvblast@0 must start AFTER /dev/dvb/adapterN/dvr0.
# The After=dvr%i.device happens in generate-config;
# this line tells systemd to create that unit.
#
# NOTE: the /sys/subsystem is based on 99-systemd.rules' ethN version.
# It doesn't actually exist (at least on Debian 8 / Linux 3.16).
# ENV{SYSTEMD_ALIAS}+="/dev/$name" ==> SILENTLY IGNORED.
#
# UPDATE: this DOES NOT WORK because the .device needs to exist BEFORE the dvb services are started, or it's simply ignored.
SUBSYSTEM=="dvb", ENV{DVB_DEVICE_TYPE}=="frontend", TAG+="systemd", ENV{SYSTEMD_ALIAS}+="/sys/subsystem/$name"
