# Goal: KDE and GNOME each have their own help application and their
# own slightly different help formats. —twb, Feb 2017 (#31512)
#
# Rather than installing BOTH help viewers,
# just install the GNOME one (yelp), and
# do all necessary steps to convert KDE documents to work in yelp.
#
# KDE manuals typically come in two forms:
#  • index.docbook, the original sources; &
#  • index.cache.bz2, a pre-rendered HTML version of the above.
#
# We use the former because yelp will not paginate the latter.
#
# By default GNOME apps run "yelp help:foo";
# KDE apps (eventually) run "khelpcenter help:/foo/index.html".
# Our fake khelpcenter must change "/foo/index.html" to "foo".
#
# By default yelp searches /usr/share/help/;
# we must move (or copy, or symlink) the manuals in there.
#
# By default "yelp help:foo" expands to help:foo:index,
# which accesses "<article id='index'>" in GNOME examples.
# But KDE top-level element is <book id='kalgebra'> —
# we must change the id to "index".
#
# By default KDE writes en_US as "en";
# by default GNOME writes en_US as "C".
# We must thus change en → C.
#
# The index.docbook source relies on &Foo; elements defined in
# kdoctool's /usr/share/kde4/apps/ksgmltools2/customization.
# We must include these in each manual so yelp can find them.
Source: prisonpc-yelp4kde
Section: kde
Priority: optional
Standards-Version: 3.9.8
Maintainer: Trent W. Buck <twb@cyber.com.au>
Build-Depends:
 debhelper-compat (= 13),
 kdoctools5 (= 5.78.0-2),
# This package puts two files in the customization/ directory that we embed.
# It also provides .so's, so we can't simply Replace it.
Build-Conflicts: libkf5kdelibs4support-data

Package: prisonpc-yelp4kde
Depends: ${misc:Depends}, yelp, docbook-xml
Architecture: all
# KDE maintainers lie to dpkg, saying some unnecessary libraries are necessary.
# To avoid installing those libraries, we must also lie to dpkg, claiming we provide them.
# See also build-ersatz-packages (prisonpc-ersatz-kde-junk).
Provides:
 kdoctools5 (= 5.78.0-2),
 khelpcenter (= 4:20.12.0-1)
Conflicts:
 kdoctools5,
 khelpcenter
Replaces:
 kdoctools5,
 khelpcenter
Description: convert KDE manuals to work in yelp
 KDE and GNOME each have their own help application and their
 own slightly different help formats.
 Rather than installing BOTH help viewers,
 just install the GNOME one (yelp), and
 do all necessary steps to convert KDE documents to work in yelp.
