# GOAL: install just-in-time security databases that Chromium cannot reach through proxy
#
# • chrome://components lists about 20 things.
# • Most are lists of known-bad websites, CAs, and passwords.
#   There is also a data for hyphenation (text layout).
#
# • Debian does not provide these components as a .deb.
# • Chromium tries to download them into $HOME every 6 hours or so.
# • Chromium uses the proxy, but not proxy PASSWORD, so this will always fail,
#   EVEN IF the PrisonPC URL whitelist allows both
#     POST http://update.googleapis.com/service/update2/json
#     GET  GET http://edgedl.me.gvt1.com/edgedl/release2/chrome_component/B_B/C_B_all_D.crx3
#
# • We are a little bit nervous about whitelisting that stuff specially in squid.conf, which
#   bypasses some visibility of it.  We also want to at least maybe slightly vet the content!
#
# • Using an unlocked chromium, trace what it downloads, and where it unpacks to, then
#   download it before the SOEs are built, and copy into $HOME at login time.
#
# • This will not give up-to-the-minute versions of components, BUT
#   I believe most of these components update rarely anyway, so
#   a twelve-month-old component is much better than no component at all.
#   (For example, ZxcvbnData is still version 1!)
#
# https://beebom.com/chrome-components/
Source: prisonpc-chromium-components
Section: web
Priority: optional
Standards-Version: 3.9.6
Maintainer: Trent W. Buck <twb@cyber.com.au>
Uploaders: Trent W. Buck <trentbuck@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 ca-certificates,
 wget2,
 python3,

Package: prisonpc-chromium-components
Depends: ${misc:Depends}
Enhances: chromium
Architecture: all
Description: Chromium spell-checking dictionaries
 Install chrome://components .crx3 bundles into /usr.
 When you log in, sync them into your $HOME.
