[Desktop Entry]
Encoding=UTF-8
Name=Dyslexic font in Chromium
Comment=Change Chromium (web browser) default fonts to/from OpenDyslexic
Exec=PrisonPC-toggle-opendyslexic-in-chromium
Terminal=false
Type=Application
Categories=X-Red-Hat-Base;X-GNOME-PersonalSettings;Settings;
X-Desktop-File-Install-Version=0.18
Icon=preferences-desktop-font

# https://docs.gtk.org/gtk3/type_func.Window.set_auto_startup_notification.html
StartupNotify=true
