[Desktop Entry]
Version=1.0
Type=Application
Exec=alephone /usr/share/games/marathon1
TryExec=/usr/share/games/marathon1
Name=Marathon
Icon=marathon
Categories=Application;Game;ArcadeGame;

# https://docs.gtk.org/gtk3/type_func.Window.set_auto_startup_notification.html
StartupNotify=true
