Source: tv-grab-dvb
Section: video
Priority: extra
Maintainer: Trent W. Buck <twb@cyber.com.au>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.5.1
Homepage: http://bryars.eu/projects/tv_grab_dvb/

Package: tv-grab-dvb
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: dump DVB EPG info in xmltv format
 A small program to extract EPG data from a DVB stream.
 .
 This project isn't maintained.
 .
 FIXME: potential upgrade paths for this (and DVB-T to IPTV in general) are
 .
  * https://www.silicondust.com/product/tech5-16dt-4x4/ (already 90% migrated to, by CyberIT!)
  * https://tvheadend.org/projects/tvheadend/activity (suggested by #kodi)
