Source: tv-grab-dvb
Section: FIXME
Priority: FIXME
Maintainer: Trent W. Buck <trentbuck@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://bryars.eu/projects/tv_grab_dvb/

Package: tv-grab-dvb
Architecture: any
Depends: ${misc:Depends}
Description: FIXME
 FIXME
