Source: prisonpc-ersatz
Section: metapackages
Priority: optional
Standards-Version: 4.3.0
Maintainer: Trent W. Buck <twb@cyber.com.au>
Uploaders: Trent W. Buck <trentbuck@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)

Package: prisonpc-ersatz-gpg
Depends: ${misc:Depends}
Provides:
 gpg,
Conflicts:
 gpg,
Replaces:
 gpg,
Architecture: all
Description: appease libreoffice
 Inmates SHOULD NOT have access to "unnecessary" cryptography.
 .
 LibreOffice 6+ has a hard dependency on libgpgme.
 If we remove libgpgme, libreoffice won't even start.
 HOWEVER, libgpgme really just fork-and-execs /bin/gpg, then
 talks to it over stdio.
 .
 So we trick apt into shipping libgpgme but not gpg,
 all of libreoffice will work except for password-protected documents.

Package: prisonpc-ersatz-e2fsprogs
Depends: ${misc:Depends}
Provides:  e2fsprogs (= 1.46.2-2)
Conflicts: e2fsprogs
Replaces:  e2fsprogs
Essential: yes
Architecture: all
Description: work around https://bugs.debian.org/1000353
 Inmates must not have access to local persistent storage.
 We remove mke2fs (& debugfs &c) as part of that requirement.
 .
 We install gvfs to provide trash:// in thunar file manager.
 This depends on e2fsprogs via
 gvfs → gvfs-daemons → udisks2 → libblockdev-fs2 → e2fsprogs.
 This is a Depends due to https://bugs.debian.org/887270
 It should probably be a Recommends due to runtime checks:
 https://codesearch.debian.net/search?q=bd_fs_ext_is_tech_avail
 Therefore we need a fake e2fsprogs.
 .
 We install quota package for its /usr/bin/quota.
 In Debian 9 its unused /sbin/quotacheck needed libext2fs2 (as "e2fslibs").
 In Debian 11 this issue is gone.
 .
 We install initramfs-tools to build a live-boot ramdisk.
 initramfs-tools needs logsave (from e2fsprogs) to fsck ANY rootfs.
 PrisonPC systems are diskless, so we do not use fsck.
 In Debian 9, logsave was in the e2fsprogs .deb.
 In Debian 11, logsave is a separate .deb.
 As logsave is harmless, we do not nerf it.

Package: prisonpc-ersatz-logrotate
Depends: ${misc:Depends},
Provides:  logrotate
Conflicts: logrotate
Replaces:  logrotate
Architecture: all
Description: appease prayer
 This stub package lets us remove logrotate without apt knowing.
 .
 The default prayer config writes directly into /var/log/prayer/,
 so it has a hard dependency on logrotate (to avoid filling /var/log).
 .
 Our prayer config doesn't use logfiles,
 so we don't need logrotate.
 This also lets us avoid installing cron.

Package: prisonpc-bad-package-conflicts
Depends:
 ${misc:Depends},
 prisonpc-ersatz-gpg (= ${binary:Version}),
 prisonpc-ersatz-e2fsprogs (= ${binary:Version}),
 prisonpc-ersatz-logrotate (= ${binary:Version}),
Conflicts:
## Inmates MUST NOT have unnecessary crypto
## ========================================
# ?source-package(^gnupg2$), except for
#   gpgv (apt needs it), &
#   gpg  (handled by prisonpc-ersatz-gpg).
 dirmngr,
 gnupg,
 gnupg-agent,
 gnupg-l10n,
 gnupg-utils,
 gnupg2,
 gpg-agent,
 gpg-wks-agent,
 gpg-wks-server,
 gpgconf,
 gpgsm,
 gpgv-static,
 gpgv-win32,
 gpgv2,
 scdaemon,
# ?source-package(^gnupg1$).  Can't happen.
 gnupg1,
 gnupg1-l10n,
 gpgv1,
# pinentry-gnome3 &c provide GUI password prompts, mostly for gpg
 pinentry,
# askpass-gnome &c provide GUI password prompts, mostly for ssh
 ssh-askpass,
# zip/bullseye only supports weak encryption, but
# later versions might adopt strong encryption.
# https://en.wikipedia.org/wiki/ZIP_(file_format)#Encryption
# NOTE: libreoffice also supports ODF/OOXML encryption.
# UPDATE 2021: .rar and .7z also support AES.
# libarchive (bsdtar) can DEFINITELY created strongly encrypted zip files.
# We can't remove libarchive itself without upsetting vlc (everyone) and gvfs-backends (staff).
 p7zip,
 p7zip-full,
 unrar,
 unrar-nonfree,
 zip,
 libarchive-tools,
## Inmates MUST NOT have clandestine comms
## =======================================
 bluez,
 avahi-daemon,
# It's THEORETICALLY possible to use wesnoth<->wesnoth-server and then do in-game chat,
# which would give the inmate a clandestine comms channel.
 wesnoth-1.14-server,
# We use systemd-networkd.
# Other network clients shouldn't be there.
# Inmate might use them to set up custom networking.
 network-manager,
 libnm0,
 libnma0,
 ifupdown,
 resolvconf,
 ifupdown2,
 ifupdown-multi,
 mobile-broadband-provider-info,
 modem-manager-gui,
 isc-dhcp-client,
 isc-dhcp-server,
 iw,
 wireless-tools,
 wpasupplicant,
 rfkill,
 iptables-persistent,
 netfilter-persistent,
 pppconfig,
 pppd,
 wpan-tools,
 ahcpd,
 airport-utils,
 atm-tools,
 bootpc,
 bootp,
 bridge-utils,
 comitup,
 connman,
 crda,
 dhcpd5,
 ez-ipupdate,
 faifa,
 hostapd,
 ifrename,
 inetutils-tools,
 macchanger,
 net-tools,
 netplug,
 open-iscsi,
 pppoeconf,
 pptp-linux,
 pptpd,
 rancid,
 rarpd,
 tcputils,
 wakeonlan,
 wavemon,
 whereami,
 wide-dhcpv6-client,
 wide-dhcpv6-server,
 wide-dhcpv6-relay,
 wpagui,
 dhcpy6d,
 wmifinfo,
 xfce4-wavelan-plugin,
 dhcpd,
 xl2tpd,
## Inmates MUST NOT have writable local media (DVD, USB)
## =====================================================
# e2fsprogs is shitlisted because in Debian 9 it was hard to avoid.
# Upstream changes mean that shouldn't happen again, but it doesn't hurt.
# UPDATE 2021: e2fsprogs is still needed, by
#              gvfs→gvfs-daemons→udisks2→libblockdev-fs2→e2fsprogs.
# UPDATE 2021: shitlist other mkfs.* packages also.
# NOTE: staff need ntfs-3g https://alloc.cyber.com.au/task/task.php?taskID=24592
# NOTE: staff need exfat   https://alloc.cyber.com.au/task/task.php?taskID=32658
 dosfstools,
 erofs-utils,
 exfatprogs,
 exfat-utils,
 f2fs-tools,
 gfs2-utils,
 hfsprogs,
 jfsutils,
 mtd-utils,
 nilfs-tools,
 ocfs2-tools,
 reiser4progs,
 reiserprogs,
 udftools,
 xfsprogs,
# UPDATE 2021: also list (some) packages that Depends: libfuse2.
 fuse2fs, afflib-tools, android-file-transfer, archivemount, avfs, bindfs, btfs,
 casync, ceph-fuse, ceph-osd, coop-computing-tools, curlftpfs, dislocker,
 disorderfs, dnet-progs, encfs, ewf-tools, exfat-fuse, ffmpegfs, fosfat, fossil,
 fuse-convmvfs, fuse-posixovl, fuse-zip, fuse2fs, fuseext2, fusefat, fuseiso,
 fuseiso9660, gfarm2fs, gnunet-fuse, gocryptfs, gphotofs, httpdirfs, httpfs2,
 hubicfuse, ifuse, jmtpfs, libbde-utils, libfsapfs-utils, libfvde-utils,
 libguestfs-tools, libguestfs0, libnbd-bin, libolecf-utils, libqcow-utils,
 libregf-utils, libsmraw-utils, libvhdi-utils, libvirt-daemon-driver-lxc,
 libvmdk-utils, libvshadow-utils, libvslvm-utils, libwim15, loggedfs, lxcfs,
 mergerfs, mhddfs, mp3fs, obexfs, open-vm-tools, openafs-fuse, osspd, owfs-fuse,
 pike8, rbd-fuse, rdiff-backup-fs, s3backer, s3fs, securefs, smbnetfs,
 squashfuse, sra-toolkit, tmfs, tup, uml-utilities, unionfs-fuse, vmfs-tools,
 vmfs6-tools, winregfs, wit, xmount, xrdp, xrootd-fuse, zfs-fuse, apt-cacher-ng,
# In theory an inmate could write a userland filesystem with fuse.
# NOTE: staff will need gvfs-backend (thus fuse) for sftp...
 gvfs-backends,
 fuse,
 cuse,
## Inmates MUST NOT have containers (VMs)
## ======================================
 libvirt-daemon,
 libvirt-clients,
 gnome-boxes,
 libvirt0,
 qemu-user,
 qemu-system-x86,
 qemu-system-data,
 grub-firmware-qemu,
 ipxe-qemu,
 systemd-container,
 libnss-mymachines,
 gnome-boxes,
## Inmates MUST NOT have root REPL (& SHOULD NOT get any REPL)
## ===========================================================
# All terminal emulators.
# Fortunately, a virtual package here covers most of them.
 x-terminal-emulator,
# We need at most one privesc framework.  Block the rest.
# We need thunar->udisks2->polkit for mounting/ejecting DVDs.
 sudo,
 sudo-ldap,
# These are alternatives to the XFCE4 applications/start menu.
# They provide easy ways to run an arbitrary shell command (i.e. Win+R).
# There is no easy way to remove that feature while keeping the "nice menu" feature.
 xfce4-appfinder,
 xfce4-whiskermenu-plugin,
## Inmates SHOULD NOT have a text editor
## =====================================
# FIXME: Staff will need a text editor.
# CLI text editors
 editor,
# https://codesearch.debian.net/search?q=update-alternatives+--install+%2Fusr%2Fbin%2Feditor+editor&literal=1
 cream, dav-text, diffstat, e3, efte, elvis-tiny, fte, gnuserv, joe, jove, jupp,
 le, lpe, mc, mg, nano, ne, nedit, neovim, ng, nvi, tilde, vile, xemacs21, yi,
 zile,
# GUI text editors (not comprehensive)
 mousepad,
 pluma,
 juffed,
 gedit,
 kate,
 kwrite,
 retext,
 yudit,
 textedit.app,
# The GTK / Qt widgets that provide text editor functionality.
# This will error out if an app has such an editor as an embedded widget.
 libkf5texteditor5,
 libgtksourceview-3.0-1,
 libgtksourceview-4-0,
 gir1.2-gtksource-4,
## Inmates SHOULD NOT have access to cron-style scheduling (#30091)
## ================================================================
# NOTE: systemd timer units can still be used.
 anacron,
 at,
 cron,
 featherpad,
## Inmates SHOULD NOT have miscellaneous scary things
## ==================================================
# In principle IPP2 supports authentication, though
# it happens inside the IPP2 payload, not inside HTTP.
# When we experimentally enabled it,
# we found that it asked for passwords WAY too often.
# We have not gone back and tuned it yet.
# In the meantime, inmates can spoof their identity to the print server with "lp -U alice test.pdf"
# This does not directly affect security, but
# it could affect billing of print resources (paper and ink).
# The quick fix is simply to make sure lp(1) cannot be installed.
# Applications almost always use cups as a library (not CLI fork+exec binaries).
# When used as a library, this spoofing is much harder (maybe impossible).
 cups-client,
# As at Debian 11, python 2.x is obsolete.
# We REALLY should not see it anywhere!
 python2,
# X11 doesn't REALLY support screen locking:
#   https://www.jwz.org/blog/2021/01/i-told-you-so-2021-edition/
# Rather than pretend, we simply do not let inmate lock the screen.
# This also prevents inmate in a shared area from locking the screen and walking away, which is a sort of DOS.
 xscreensaver,
 kscreensaver,
 gnome-screensaver,
 mate-screensaver,
 cinnamon-screensaver,
 ukui-screensaver,
# Also don't let them suspend.
# FIXME: can probably still suspend via systemd...
 xfce4-power-manager,
 sleepd,
 thermald,
 upower,
# Fuck it, why NOT block this?
 ftp-server,
 httpd,
 httpd-cgi,
 httpd-wsgi,
 imap-server,
 ldap-server,
 irc, ircd,
## Inmates SHOULD NOT be able to use VLC for evil
## ==============================================
## Inmates SHOULD NOT have packaging tools
## =======================================
 packagekit,
 packagekit-tools,
 dpkg-dev,
 python3-apt,
## Inmates SHOULD NOT have diagnostic tools
## ========================================
## Inmates SHOULD NOT have development tools
## =========================================
# libc-dev should be enough to block most compiler stuff.
 libc-dev,
 c-compiler,
 c++-compiler,
 go-compiler,
 brig-compiler,
 c-sharp-compiler,
 d-compiler,
 fortran-compiler,
 go-compiler,
 haskell-compiler,
 java-compiler,
 lisp-compiler,
 m2-compiler,
 objc++-compiler,
 objc-compiler,
 ocaml-best-compilers,
 ocaml-native-compilers,
# IDEs (not comprehensive)
 geany,
 devhelp,
 gnome-devel,
 gnome-builder,
 glade,
 gnome-api-docs,
 manpages-dev,
 lazarus-ide,
 kdevelop,
 gambas3,
 eric,
 spyder,
 jupyter-core,
 jypyter-server,
 python3-pandas,
 thonny,
 valinor,
 idle,
 idle3,
 pyzo,
 faustworks,
# Version control tools (not comprehensive)
 git,
 mercurial,
 rcs,
 svn,
 fossil,
# Debuggers (not comprehensive)
 god,
## Useless & confusing menu items SHOULD be hidden (#30257)
## ========================================================
## Useless & confusing "under the hood" files MAY be removed
## =========================================================
## sysvinit compatibility MAY be removed
## =====================================
## Inmates SHOULD NOT be able to make screenshots
## ==============================================
## https://alloc.cyber.com.au/task/task.php?taskID=30713
# x11-apps provides "xwd" screenshot tool.
 xfce4-screenshooter,
 scrot,
 x11-apps,
 gnome-screenshot,
 gtk-vector-screenshot,
 deepin-screenshot,
 fbcat,
 flameshot,
 kde-spectacle,
 ksnip,
 screengrab,
 mirage,
 screenfetch,
 kazam,
 gkrellshoot,
 grim,
 grimshot,
 maim,
 mate-utils,
Architecture: all
Description: conflict with CANTHAPPEN packages
 Some packages should NEVER be installed (e.g. terminal emulators).
 Sometimes updates cause apt to start installing such a package.
 When this happens, the build should abort, so a human can investigate.
 .
 Note that this is different from a prisonpc-ersatz-* package.
 Ersatz packages are where we HAVE DECIDED the best option is to lie to apt.
 This package is for things where we HAVEN'T DECIDED yet.
 .
 One easy way to test for this is to ask for task-xfce-desktop, which
 should fail due to a conflict relating to X terminal emulators.
