[Unit]
PartOf=myapp.service

[Socket]
ListenStream=/run/myapp.socket

# Allow nginx (uwsgi-pass) to connect to this AF_UNIX socket.
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
