Source: prisonpc-openttd-extras
Section: games
Priority: optional
Standards-Version: 4.3.0
Maintainer: Trent W. Buck <twb@cyber.com.au>
Uploaders: Trent W. Buck <trentbuck@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 wget2,
 ca-certificates,
 unzip,

Package: prisonpc-simutrans-extras
Depends: ${misc:Depends},
 simutrans,
Enhances:
 simutrans,
Conflicts:
 simutrans-pak64,
 simutrans-pak128.britain,
Replaces:
 simutrans-pak64,
 simutrans-pak128.britain,
Architecture: all
Description: Simutrans (Transport Tycoon clone) extra plugins
 This is just the paksets from https://www.simutrans.com/en/paksets/
