Source: xdg-desktop-portal-ersatz
Section: metapackages
Priority: optional
Standards-Version: 4.3.0
Maintainer: Trent W. Buck <twb@cyber.com.au>
Uploaders: Trent W. Buck <trentbuck@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)

Package: xdg-desktop-portal-ersatz
Depends: ${misc:Depends}
Provides:
 xdg-desktop-portal-backend,
 xdg-desktop-portal-gtk,
Conflicts:
 xdg-desktop-portal-gtk,
Replaces:
 xdg-desktop-portal-gtk,
Architecture: all
Description: work around https://bugs.debian.org/1005230
 Google choose not to provide long-term-support releases of Chromium.
 So Debian has cannot only provide security updates (remove bugs).
 It has to provide feature updates (add bugs).
 .
 One added bug in Debian 11 was https://bugs.debian.org/1005230
 Google broke Debian's ability to detect chromium's gtk3 dependency.
 .
 In response, Debian added an explicit hard dependency on
 xdg-desktop-portal-gtk.  This fixes the gtk3 dependency, but
 it also meant chromium now depended on fuse and bubblewrap.
 These are features we absolutely DO NOT want inmates to have.
 .
 We already confirmed that none of these packages are *actually* needed to run
 chromium.  So crete this fake package to mask out the wrong dependency on xdg-desktop-portal-*.
 This WILL break xdg-desktop-portal-* for anyone else using the PrisonPC bullseye/desktop repo!

