# Hey, Emacs!  This is a -*-conf-*- file.

# In live-boot the / is an overlayfs that (typically) combines
# a read-only squashfs images with a writable tmpfs COW.
# Normally these components are bind-mounted under /root before pivot_root, so
# when pivot_root happens, they remain visible to userland as regular mounts.
#
# We do not want inmates to poke around in these filesystems, so
# live-boot-hide-rootfs-components.sh arranges disables the bind mount, so
# after pivot_root, they are still mounted, but not visible to usersland.
#
# One uexpected downside of this is udisks2 will display any block devices that are
# 1. not mounted (as far as udisks2's /proc/self/mountinfo knows), and
# 2. not statically configured in /etc/fstab.
#
# Unless we boot with "plainroot", the squashfs is mounted with -o loop, so
# has a /dev/loopN device, which DOES remain visible after pivot_root.
# udisks2 sees this, no longer sees the mount, and concludes it's a removable device.
# The end result is that in Thunar sidebar, we see "1.7GB Volume" for /dev/loop0.
#
# Potential fixes:
#
#    0. We can remove udisk2, but thunar cannot mount or eject data DVDs directly.
#       It only supports doing that via udisks2.
#
#    1. we can tell thunar to hide certain sidebar items.
#       However we can only do it by name, and "1.7GB Volume" changes with image size.
#
#    2. we can put "/dev/loop0 none none none defaults 0 0" in fstab.
#       This works, HOWEVER, there will be one loop device per squashfs in filesystem.modules.
#       On PrisonPC, that is normally 2 or 3 (filesystem.squashfs + site.squashfs + tca3.squashfs).
#       It might grow to be more or less, and this just feels ugly.
#
#    3. We can tell udev to add a note to loopback devices that says "hey udisks2, ignore this".
#       This is the cleanest option, and is what we do below.
#       AFAIK there is never a legitimate case where a PrisonPC desktop would want a removable loopback device.
#       (Staff have removable USB drives, inmates and staff have removable CD/DVD discs.)
SUBSYSTEM=="block", KERNEL=="loop[0-9]*", ENV{UDISKS_IGNORE}="1"
