# FIXME: in jessie, qonk has no XDG menu entry. --twb, Nov 2016
#        https://alloc.cyber.com.au/task/task.php?taskID=31454
# UPDATE: this is still true in Debian 11.

[Desktop Entry]
Encoding=UTF-8
Name=Qonk
Type=Application
Categories=Application;Game;ArcadeGame;
Terminal=0
Exec=qonk-wrapper
TryExec=/usr/games/qonk
Comment=Fight to control every planet and moon in the solar system!
