[Service]
PrivateNetwork=yes
## We can't drop root privs before starting, because
## it wants to bind BOTH of these:
##
##    define NSCD_SOCKET     "/var/run/nscd/socket"
##    define NSCD_SOCKET_OLD "/var/run/.nscd_socket"
##
## Probably the latter should just be removed from unscd.c entirely, since
## the implementations of glibc that use it are probably looooong gone.
# User=unscd
# DynamicUser=yes
RuntimeDirectory=nscd
WorkingDirectory=/run/nscd
CapabilityBoundingSet=
# FIXME: once we Users=unscd, tighten this up.
CapabilityBoundingSet=CAP_SETUID CAP_SETGID
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
DevicePolicy=closed
IPAddressDeny=any
NoNewPrivileges=yes
PrivateDevices=yes
PrivateMounts=yes
PrivateTmp=yes
# FIXME: once we Users=unscd, tighten this up.
# UPDATE: er, we probably need PrivateUsers=no anyway, because
#         nscd's job is to see & cache users. :-)
#PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
# FIXME: once NSCD_SOCKET_OLD is gone, remove this.
ReadWritePaths=/run
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
# FIXME: once we Users=unscd, tighten this up.
#SystemCallFilter=~@privileged
SystemCallFilter=~@resources
RestrictRealtime=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
UMask=0077
ProtectHostname=yes
ProcSubset=pid
