#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_gencontrol: DOVECOT_ABI_VERSION = $(shell cat /usr/share/dovecot/dovecot-abi)
override_dh_gencontrol:
	dh_gencontrol -- -V'dovecot:ABI-Version=$(DOVECOT_ABI_VERSION)'

%:
	dh $@
