# Hey, Emacs!  This is a -*-conf-*- file.

# Report unauthorized (actually, all) optical media
#
# UPDATE: disc-snitch.py does the actual reporting now.
# https://alloc.cyber.com.au/task/task.php?taskID=30332
#
# To avoid disc-snitch.py being swamped by events, tag the devices it should watch.
# Note that udev rules are match on EVENTS, but
# tags are applied to DEVICES.
#
# Once tagged, ALL events relating to that device will reach disc-snitch.py.
SUBSYSTEM=="block", KERNEL=="sr[0-9]*", TAG+="disc-snitch"
