## Run the nagios-oriented check_tv script regularly (sleeping 2m between runs). —twb, Sep 2017 (#25415)
## It writes the status of all tuners to stdout, which will end up in the central syslog (via journald+rsyslog).

[Service]
Type=oneshot
ExecStart=tvserver-check_tv

[Unit]
# Needs PGPASSFILE=/etc/prisonpc-persist/pgpass to talk to postgres.
RequiresMountsFor=/etc/prisonpc-persist
