[Service]
Type=oneshot
ExecStart=tvserver-generate-config

[Unit]
# From /lib/systemd/system/rc-local.service
After=network.target
# From /lib/systemd/system/rc-local.service.d/debian.conf
After=network-online.target
# Needs PGPASSFILE=/etc/prisonpc-persist/pgpass to talk to postgres.
RequiresMountsFor=/etc/prisonpc-persist

[Install]
WantedBy=multi-user.target
