[Unit]
# for /srv/tv/recorded/{unavailable,interstitial}.ts
RequiresMountsFor=/srv/tv
# Needs PGPASSFILE=/etc/prisonpc-persist/pgpass to talk to postgres.
RequiresMountsFor=/etc/prisonpc-persist

[Service]
Restart=always
RestartSec=30s
StartLimitBurst=0
ExecStart=tvserver-local-channel %I
