Source: prisonpc-fonts
Section: metapackages
Priority: optional
Standards-Version: 4.3.0
Maintainer: Trent W. Buck <twb@cyber.com.au>
Uploaders: Trent W. Buck <trentbuck@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)

# https://alloc.cyber.com.au/task/task.php?taskID=31276
Package: fonts-prisonpc-core
Architecture: all
Multi-Arch: foreign
Description: core PrisonPC fonts
 This package ensures the best implementation of core fonts are installed.
 .
 This package also prevents other implementations of core fonts from being
 installed, and provides compatibility symlinks for same.
 .
 This is necessary because legacy apps like upmc, minetest, childsplay and
 gargoyle-free do not use fontconfig to find the system default font, but
 instead hard-code the path to a specific font file.
 .
 Having multiple copies of identical-looking fonts is confusing for end users,
 and can cause regressions if they create a document with FreeSans on a Games
 SOE, then try to print it on a Work SOE.
Depends:
 ${misc:Depends},
# UI font family — DejaVu
 fonts-dejavu-core,
 fonts-dejavu-extra,
# Color Emoji family — Noto Color Emoji
 fonts-noto-color-emoji,
# Print font family — Liberation 2
# Replaces Adobe family (Helvetica/Times/Courier)
# Replaces MS XP family (Arial/TimesNewRoman/CourierNew)
# Replaces GNU Freefont family
# Replaces Liberation 1 family
# Replaces CrOS Core family
 fonts-liberation2,
# Print font family extras
# Replaces MS Vista family (Cambria/Calibri/Consolas)
# https://en.wikipedia.org/wiki/Category:Windows_Vista_typefaces
 fonts-crosextra-carlito,
 fonts-crosextra-caladea,
 fonts-inconsolata,
 fonts-courier-prime,
 fonts-comic-neue,
# Fallback font family — Noto
# Replaces Droid Sans Fallback
# NOTE: fonts-noto-cjk not installed ∵ huge install footprint.
# NOTE: fonts-noto-unhinted not installed ∵ no demand.
 fonts-noto-core,
 fonts-noto-mono,
Provides:
 fonts-croscore,
 fonts-droid-fallback,
 fonts-freefont-otf,
 fonts-freefont-ttf,
 fonts-lato,
 fonts-liberation,
 fonts-linuxlibertine,
Conflicts:
 fonts-croscore,
 fonts-droid-fallback,
 fonts-freefont-otf,
 fonts-freefont-ttf,
 fonts-lato,
 fonts-liberation,
 fonts-linuxlibertine,
Replaces:
 fonts-croscore,
 fonts-droid-fallback,
 fonts-freefont-otf,
 fonts-freefont-ttf,
 fonts-lato,
 fonts-liberation,
 fonts-linuxlibertine,


Package: fonts-prisonpc
Architecture: all
Multi-Arch: foreign
Description: shorthand for both font packages
 FIXME: detailed description here.
Depends:
 ${misc:Depends},
 fonts-prisonpc-core,
 fonts-prisonpc-extra,
# NOTE: in Debian 9, opendyslexic was in "prisonpc-core-fonts".
# https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5934461
# gives experimental evidence that OpenDyslexic DOES NOT HELP.
# Despite this, AMC insisted that we provide it.
# I suspect it was an inmate making excuses:
# "I can't do my homework because I don't have a dyslexic font."
# https://alloc.cyber.com.au/task/task.php?taskID=34172
# Ron told me to make it available for all sites.
 fonts-opendyslexic,


Package: fonts-prisonpc-extra
Architecture: all
Multi-Arch: foreign
Description: decorative fonts
 A newly-chosen set of arbitrary fonts.
 This time, I've taken them all from a single foundry.
 As a result, they are all at least recently updated and reasonably consistent.
 These are loose clones of existing popular fonts, which works well for us.
 .
 FIXME: I think a couple of these fonts overlap with "core" fonts, so
 we should probably skip those ones.
Depends:
 ${misc:Depends},
 fonts-adf-accanthis,
 fonts-adf-baskervald,
 fonts-adf-berenis,
 fonts-adf-gillius,
 fonts-adf-ikarius,
 fonts-adf-irianis,
 fonts-adf-libris,
 fonts-adf-mekanus,
 fonts-adf-oldania,
 fonts-adf-romande,
 fonts-adf-solothurn,
 fonts-adf-switzera,
 fonts-adf-tribun,
 fonts-adf-universalis,
 fonts-adf-verana,


Package: fonts-prisonpc-extra-debian9
Architecture: all
Multi-Arch: foreign
Description: decorative fonts
 These fonts were chosen fairly arbitrarily, long ago (in 2014).
 .
 I think the intent was just to fill out the Fonts drop-down in LibreOffice with
 some "play" fonts -- the moral equivalent of Comic Sans and Charybdis.
Depends:
 ${misc:Depends},
 fonts-beteckna,
 fonts-breip,
 fonts-cabin,
 fonts-cantarell,
 fonts-century-catalogue,
 fonts-comfortaa,
 fonts-dancingscript,
 fonts-dosis,
 fonts-ecolier-court,
 fonts-fanwood,
 fonts-jura,
 fonts-levien-museum,
 fonts-lindenhill,
 fonts-lobster,
 fonts-opendin,
# Not available in Debian 11.
#fonts-pecita,
 fonts-play,
 fonts-prociono,
 fonts-quattrocento,
 fonts-rufscript,
