[Unit]
Description=Update SMART drive database
ConditionPathExists=/usr/sbin/update-smart-drivedb

[Service]
Type=oneshot
ExecStart=update-smart-drivedb

[Unit]
Wants=network-online.target
After=network-online.target

Before=smartmontools.service
[Install]
WantedBy=smartmontools.service
