[Mount]
# It seems systemd v247 doesn't understand libblkid "LABEL=x" notation?
#What=LABEL=prisonpc-persist
What=/dev/disk/by-label/prisonpc-persist
Where=/etc/prisonpc-persist
Type=ext4
Options=ro,nodev,nosuid,noexec
DirectoryMode=0

[Install]
WantedBy=remote-fs.target
