[Unit]
DefaultDependencies=no
Before=udev.service

[Service]
Type=notify
ExecStart=bootstrap2020-disc-snitch
FailureAction=reboot
RuntimeDirectory=disc-snitch
WorkingDirectory=/run/disc-snitch

# FIXME: add "systemd-analyze security" hardening here.

[Install]
WantedBy=multi-user.target
