[Unit]
DefaultDependencies=no
Before=udev.service

[Service]
Type=notify
ExecStart=bootstrap2020-usb-snitch
FailureAction=reboot
RuntimeDirectory=usb-snitch
WorkingDirectory=/run/usb-snitch

# FIXME: add "systemd-analyze security" hardening here.

[Install]
WantedBy=multi-user.target
