[Unit]
DefaultDependencies=no
Before=udev.service

[Service]
Type=notify
ExecStart=bootstrap2020-usb-snitch

# If this unit does not sd_notify('WATCHDOG=1')
# AT LEAST once every 10 minutes, it has hung (failed).
# Note that this is UNCONNECTED to hardware watchdogs.
# If PID=1 hangs, this will not trigger.
WatchdogSec=10m

# If this unit fails, reboot the whole system.
# We use "immediate" because if the rootfs disappears,
# systemd cannot (always) do a regular clean reboot.
FailureAction=reboot-immediate

# FIXME: add "systemd-analyze security" hardening here.

[Install]
WantedBy=multi-user.target
