[Unit]
Description=popularity contest

[Timer]
# Every ten seconds.
OnCalendar=*:*:0/10
AccuracySec=1 second

[Install]
WantedBy=timers.target

# Don't bother running this on "ssh root@desktop shutdown".
[Unit]
ConditionUser=!@system
