# In principle we should ADD elements to MimeType= of upstream's chromium.desktop, but
# that would involve editing a file.
# Making a separate "hidden" desktop allows us to be a drop-in.
# It's technically wrong, but has no REAL downside.

[Desktop Entry]
Version=1.0
# Chromium doesn't know what "ghelp:Chess" means, so
# we need a wrapper to turn that into "file://usr/share/help/C/chess/index.html".
Exec=bootstrap2020-chromium-replaces-yelp %U
Terminal=false
Type=Application
MimeType=x-scheme-handler/help;x-scheme-handler/ghelp;
NoDisplay=true

# UPDATE: if we do not set a Name=, then in Thunar, right-click says 'open with "Unnamed"'.
# Therefore copy-paste some elements from /usr/share/applications/xfce4-web-browser.desktop
Name=Web Browser
Icon=org.xfce.webbrowser
StartupNotify=true
