[Desktop Entry]
Version=1.0
Type=Application
Name=Watch TV
Icon=applications-multimedia
Exec=xdg-open https://PrisonPC/TV/
Categories=AudioVideo;Player;Video;

# https://docs.gtk.org/gtk3/type_func.Window.set_auto_startup_notification.html
StartupNotify=true
