[Service]
Type=oneshot
ExecStart=bootstrap2020-nssdb-install.py
[Install]
WantedBy=default.target

# Don't bother running this on "ssh root@desktop shutdown".
[Unit]
ConditionUser=!@system
