[Desktop Entry]
Encoding=UTF-8
Name=Factory Reset
Comment=Reset your account to factory defaults
Exec=factory-reset
Terminal=false
Type=Application
Categories=X-Red-Hat-Base;X-GNOME-PersonalSettings;Settings;
X-Desktop-File-Install-Version=0.18
