# Our firewall has things like "ip daddr PrisonPC".
# This requires DNS to be working before nftables starts.
# So just tell systemd to delay nftables until then.
#
#
# nft[369]: In file included from /etc/nftables.conf:2:1-38:
# nft[369]: /etc/nftables.conf.d/20-PrisonPC.conf:50:18-27: Error: Could not resolve hostname: Name or service not known
# nft[369]:         ip saddr "PrisonPC" tcp dport ssh  accept
# nft[369]:                  ^^^^^^^^^^
#
# Normally this would be a big no-no, BUT
#   1. we are netbooting, so the network is already "up",
#      it's just networkd/resolved that aren't "up"; and
#
#   2. our firewall is mostly defense-in-depth.
#      We can accept the risk of (say) 30s online without a firewall
#      each boot.
#
# Note that the --boot-test VM does not run into this problem,
# because it has an /etc/hosts dropin provided by site.dir.
# We COULD probably do that in tca instead of this, but
# that's messy for different reasons.

[Unit]
Wants=network-online.target
After=network-online.target
