# /lib/systemd/system/plymouth-quit.service
[Unit]
Description=Terminate Plymouth Boot Screen
After=rc-local.service plymouth-start.service systemd-user-sessions.service

[Service]
ExecStart=bootstrap2020-plymouth-quit.py
Type=oneshot
RemainAfterExit=yes
TimeoutSec=20

# Note: upstream installs this symlink directly
# (i.e. "static" dependency, in systemd terms).
[Install]
WantedBy=multi-user.target
