# This stuff is copy-paste-edited from user-runtime-dir@.service.
[Unit]
Description=User Home Directory ~%i
Documentation=man:user@.service(5)
After=systemd-user-sessions.service dbus.service
StopWhenUnneeded=yes
IgnoreOnIsolate=yes

[Service]
ExecStart=/lib/systemd/user-home-dir start %i
ExecStop=/lib/systemd/user-home-dir stop %i

Type=oneshot
RemainAfterExit=yes
Slice=user-%i.slice
