# Catfish GUI offers to run "sudo updatedb" unless there is a valid mlocate.db with a recent timestamp.
# Generate an empty(ish) one by running updatedb at boot time on an empty(ish) dir.
# This just avoids a confusing popup in catfish.
[Unit]
Documentation=https://bugs.debian.org/1000429
Description=make a dummy mlocate database
[Service]
Type=oneshot
ExecStart=updatedb --database-root=/dev/shm --output=/var/lib/mlocate/mlocate.db
[Install]
WantedBy=multi-user.target
