[Unit]
Description=popularity contest
Documentation=https://alloc.cyber.com.au/task/task.php?taskID=24174

# XFCE doesn't fire graphical-session.target.
# So we have to run this in default.target.
# Batch jobs using OpenSSH also trigger default.target, which causes misleading reports.
# So, as a hacky workaround, make this only fire if $DISPLAY is set.
ConditionEnvironment=DISPLAY

[Service]
ExecStart=bootstrap2020-popularity-contest
