Source: prisonpc-warzone2100-addons
Section: games
Priority: optional
Standards-Version: 4.3.0
Maintainer: Trent W. Buck <twb@cyber.com.au>
Uploaders: Trent W. Buck <trentbuck@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 ca-certificates,
 debhelper-compat (= 13),
 wget2,

Package: prisonpc-warzone2100-addons
# NOTE: P-D (not D) ∵ postinst edits warzone2100.desktop.
# NOTE: the versioned dependency is due to ARmod (artrev2100):
#
#           ARmod_4.0.1.wz: works only with WZ2100 v4.0.0 beta2 and later.
#           ARmod_3.3.0.wz: works with WZ2100 3.3.0-3.4.1.
#           NOTE! to get it works with 3.4.1, open mod by zip archiver and delete "palette.txt" file
Pre-Depends:
 warzone2100 (>= 3.3~),
 warzone2100 (<< 3.4~),
Depends: ${misc:Depends},
 python3,
 warzone2100-music,
Enhances: warzone2100
Architecture: all
Description: Warzone2100 addons
 There are a bunch of third-party addons at https://addons.wz2100.net/.
 This package provides them pre-downloaded.
 We also include better textures from
  https://sourceforge.net/projects/artrev2100/.
