#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
D := debian/prisonpc-warzone2100-addons/usr/share/games/warzone2100
%:
	dh $@
override_dh_auto_install:
	wget2 -P $D/mods/global 'https://master.dl.sourceforge.net/project/artrev2100/ARmod_3.3.0.wz'
	wget2 -P $D/maps -i debian/maps.urls --content-disposition
