#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
D := debian/prisonpc-warzone2100-addons/usr/share/games/warzone2100
%:
	dh $@
override_dh_auto_install:
	wget2 --content-disposition -P $D/mods/global -i debian/mods-global.urls
	wget2 --content-disposition -P $D/maps        -i debian/maps.urls
